<!--
  This template loads for the 'tab.cam' state (app.js)
-->
<ion-view title="Maps">
  <ion-content class="has-header padding scroll">
	<div class="list">
		<form name="myForm">
			<item class="item item-icon-left"><i class="icon ion-chatbubble-working"></i>
			<label class="item item-input">
				<textarea ng-model="obj.text" name="posttext" rows="4"></textarea>
			</label>
			</item>
			<div class="item">
				<button class="button button-block button-positive icon-left ion-ios7-camera" ng-click="takePicture()">Camera</button>
			</div>
			<div class="padding">
				<button class="button button-block button-positive icon-right ion-chevron-right" ng-disabled="!imp.text" ng-click="update(obj)">Upload</button>
			</div>
		</form>
	</div>
  </ion-content>
</ion-view>
