<side-menus>
	<pane side-menu-content ng-controller='HeaderCtrl'>
		<nav-bar type="bar-dark" left-buttons="leftButtons" hide-back-button="true"></nav-bar>
		<nav-view name="menuContent"></nav-view>
	</pane> 

	<side-menu side="left">
		<header class="bar bar-header bar-dark">
			<div class="title">Menu</div>
		</header>
		<!-- if you need scroll and click in menu: has-header="true" scroll="true" overflow-scroll="true" -->
		<content has-header="true">
			<ul class="list">
				<a href="#/app/home" data-click-menulink class="item item-icon-left"><i class="icon ion-ios7-ionic-outline"></i>Start</a>
				<a href="#/app/maps" data-click-menulink class="item item-icon-left"><i class="icon ion-map"></i>Maps</a>
				<a href="#/app/login" data-click-menulink class="item item-icon-left"><i class="icon ion-ios7-locked"></i>Login</a>
			</ul>
		</content>
	</side-menu>
</side-menus>
