<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="Home">

  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header padding has-tabs">
  This is a sample seed project for the Ionic Framework. Please cut it up and make it your own.
  
  </ion-content>

<ion-tabs class="tabs-dark tabs-icon-only">

  <ion-tab title="Home" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
    <!-- Tab 1 content -->
  </ion-tab>

  <ion-tab title="About" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
    <!-- Tab 2 content -->
  </ion-tab>

  <ion-tab title="Maps" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline" href="#/app/maps">
    <!-- Tab 3 content -->
  </ion-tab>

</ion-tabs>

</ion-view>
