<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<ion-view title="Login">
	<ion-nav-buttons side="left">
		<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<ion-content class="has-header has-tabs">

	    <div class="list list-inset">
	      <label class="item item-input">
	        <span class="input-label">Your name</span>
	        <input type="text">
	      </label>
	      <label class="item item-input">
	        <span class="input-label">Your email</span>
	        <input type="email">
	      </label>
	      <toggle>Subscribe To Newsletter</toggle>
	      <button class="button button-positive button-block">Adopt</button>
	    </div>
	    
	    <div class="row"><div class="col">
		<h3>Welcome to the YAFRA mobile template app!</h3>
		<strong>Open the menu and choose an action (on the top left <i class="icon ion-navicon"></i>)</strong><br /><br />
		Make a login to the service (just a dummy here).<br /><br />
		</div></div>
		<div class="list">
			<a href="#/app/home" class="item item-icon-left"><i class="icon ion-home"></i>Home</a>
			<a href="#/app/maps" class="item item-icon-left"><i class="icon ion-map"></i>Maps</a>
		</div>

	</ion-content>
</ion-view>
